<footer class="footer-infor" style="margin-top: 60px;">
  <div
    style="display: flex; justify-content: space-between; padding: 20px 5%; background: linear-gradient(274deg, rgba(6, 66, 120, 0.8) 5.2%, rgba(5, 120, 185, 0.8) 97.96%);">
    <img style="width: 160px; height: 30px;" src="https://www.baoviet.com.vn/themes/md_baoviet/img/logo.png"
      alt="Bảo Việt Logo">
  </div>

  <div class="infor-wrapper">
    <div class="infor-col">
      <p class="title">Thông tin liên hệ</p>
      <ul>
        <li>Văn phòng: 54 Nguyễn Văn Linh, Thạc Gián, Thanh Khê, Đà Nẵng</li>
        <li>Hotline: <a href="tel:+8490549949">0905.499.496</a> / <a href="tel:+84931909697">0931.909.697</a></li>
        <li>Gmail: <a href="mailto:vanthangnguyen1802@gmail.com">vanthangnguyen1802@gmail.com</a></li>
        <li>Fan Page: facebook.com</li>
      </ul>
    </div>

    <div class="infor-col">
      <p class="title">Các sản phẩm mới</p>
      <ul>
        <li>Bảo lãnh viện phí - Chăm sóc Y tế cao cấp</li>
        <li>Bảo hiểm Xe cơ giới</li>
        <li>Bảo hiểm Cháy, nổ bắt buộc</li>
        <li>Bảo vệ vượt trội</li>
        <li>Tích lũy ưu việt</li>
      </ul>
    </div>

    <div class="infor-col">
      <p class="title">Giải thưởng danh giá</p>
      <p style="margin:0;">Bảo hiểm phi nhân thọ tốt nhất Việt Nam</p>
      <div style="display: flex; gap: 12px; margin-top: 10px;">
        <img class="icon_gt" src="https://baovietonline.com.vn/uploads/content/e3753335c1f0f2538ee6fc0f07e4b2b0.png"
          alt="Giải thưởng">
        <img class="icon_gt" src="https://baovietonline.com.vn/uploads/content/fbbf198a4c26dc8b27158d49c7a22984.png"
          alt="Giải thưởng">
        <img class="icon_gt" src="https://baovietonline.com.vn/uploads/content/9c28c0d2654e022cff9c689ee87f6c7f.png"
          alt="Giải thưởng">
        <img class="icon_gt" src="https://baovietonline.com.vn/uploads/content/7f3415b56cf02a9f78dba149c0edef97.png"
          alt="Giải thưởng">
      </div>
    </div>
  </div>
</footer>