<nav class="head-wrapper">
  <img onclick="window.location.href='/index.html'" class="logo"
    src="https://baovietonline.com.vn/templates/images/logo2x.png" alt="Logo Bảo Việt Đà Nẵng">
  <div class="hamburger" onclick="toggleMenu()">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <ul class="navigation-items" id="menu">
    <li onclick="window.location.href='/index.html'">Trang chủ</li>
    <li class="has-popover">Bảo hiểm nhân thọ
      <div class="popover">
        <ul class="submenu">
          <li onclick="window.location.href='/baohiemantamhoachdinh.html'">An Tâm Hoạch Định</li>
          <li onclick="window.location.href='/baohiemankhangnhuy.html'">An Khang Như Ý</li>
          <li onclick="window.location.href='/baohiemanphatcattuong.html'">An Phát Cát Tường</li>
          <li onclick="window.location.href='/baohiemankhanghanhphuc.html'">An Khang Hạnh Phúc</li>
          <li onclick="window.location.href='/baohiemanvuisongkhoe.html'">An vui sống khoẻ</li>
          <li onclick="window.location.href='/baohiemantamhocvan.html'">An tâm học vấn</li>
          <li onclick="window.location.href='/baohiemanphattrondoi.html'">An phát trọn đời</li>
        </ul>
      </div>
    </li>
    <li class="has-popover">Bảo hiểm phi nhân thọ
      <div class="popover">
        <ul class="submenu">
          <li onclick="window.location.href='/baohiemoto.html'">Bảo hiểm vật chất xe ô tô</li>
          <li onclick="window.location.href='/baohiemchayno.html'">Bảo hiểm cháy, nổ bắt buộc</li>
          <li onclick="window.location.href='/baohiemruirotaisan.html'">Bảo hiểm mọi rủi ro tài sản</li>
          <li onclick="window.location.href='/baohiemsuckhoe.html'">Bảo Việt An Gia</li>
          <li onclick="window.location.href='/baohiemintercare.html'">Bảo hiểm Intercare</li>
          <li onclick="window.location.href='/baohiemxemay.html'">Bảo hiểm xe máy</li>
          <li onclick="window.location.href='/baohiemtravel.html'">Bảo hiểm du lịch Flexi</li>
        </ul>
      </div>
    </li>
    <li onclick="window.location.href='/tuyen-dung.html'">Tuyển dụng</li>
    <li onclick="window.location.href='/tin-tuc.html'">Tin tức</li>
  </ul>
  <div class="contact-wrapper">
    <img class="phone-logo" src="https://img.icons8.com/ios_filled/512/FAB005/apple-phone.png" alt="Phone icon">
    <div class="contact-detail">
      <p class="contact-title">Tư vấn miễn phí</p>
      <p class="phone-number">0905.499.496 <span style="color: black; font-weight: 600;">/</span> 0931.909.697</p>
    </div>
  </div>
</nav>